
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;800;900&display=swap');

:root {
   --gradient-bg: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
   --green-bg: #30c88f;
   --dark-text: #2d314d;
   --text-color:#9597a5;
   --hero-bg:#f2f2f2;
   --about-bg:#f4f5f7;
}
*,
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
    height: 100%;
}

*:focus {
  outline: 2px dotted var(--btn-green);
  outline-offset: 3px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}
.button {
  padding: 8px 32px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background:var(--gradient-bg);
  border-radius: 22px;
  border:2px solid transparent;
  white-space: nowrap;
  cursor: pointer;
  transition: var(--transition);
  
}

.button:hover {
    opacity: 0.6;
}


.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  /* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
    background-color:var(--hero-bg);
}

/* HEADER */
.header {
    padding-top: 33px;
    padding-bottom: 18px;
    background-color: #fff;
    z-index: 3;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 139px;
    height: 20px;
}
.logo-img {
    display: flex;
}
/* .site-nav {
   
} */
.site-nav-list {
    display: flex;
    margin: 0;
}
.item-site-nav:not(:last-child) {
    margin-right: 30px;
}

.site-nav-link {
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 16px;
    color:var(--text-color);
    transition:0.2s;
}

.site-nav-link:hover {
    color:var(--dark-text);
    border-bottom: 5px solid var(--green-bg);
}


/* HERO-SECTION */
.hero-section {
    background: url('/img/hero-bg-desktop.png');
    background-repeat: no-repeat;
    background-position: top -110px right -116px;
}

.hero-text-img {
    /* position:relative; */
    display: flex;
  
}
.hero-text {
    padding-top: 250px;
    margin-bottom: 112px;
    width: 447px;
}
.hero-title {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
}
.hero-info {
    margin: 0;
    margin-bottom: 36px;
    color:var(--text-color);
}

.hero-img {
  position: absolute;
}
.hero-iphone-x {
    position: relative;
    width: 261px;
    bottom: -127px;
    left: 614px;
}
.iphone-2 {
    position: relative;
    width: 261px;
    left: 578px;
    bottom: -353px
}
.iphone-3 {
    position: relative;
    right: -340px;
    top: -80px;
}
.iphone-4 {
    position: relative;
    right: -212px;
    top: 106px;;
}


    /* ABOUT-SECTION */
.about-section {
    background-color:var(--about-bg);
    padding-top: 96px;
    padding-bottom: 94px;
}

.aboout-title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
}
.about-info {
    width: 656px;
    margin: 0;
    margin-bottom: 72px;
    color:var(--text-color);
}
.about-list {
    display: flex;
}
.about-list-item {
    width: 255px;
}

.about-list-item:not(:last-child){
    margin-right: 30px;
}
.img-about-list-item {
    margin-bottom: 40px;
    width: 72px;
    height: 72px;
    display: inline-block;
}
.about-list-item-head {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
}
.text-about-list-item {
    margin: 0;
    color:var(--text-color);
    font-size: 16px;
    line-height: 26px;
}
/* 
BLOG-SECTION */

.blog-section {
    background-color:var(--hero-bg);
    padding-top: 80px;
    padding-bottom: 80px;
}

.blog-section-title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
}
.blog-cards-list {
    display: flex;
}
.blog-cards-list-item {
    width: 255px;
    border-radius: 8px;
    background-color: #fff;
}
.img-blog-cards-item {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-cards-list-item:not(:last-child) {
    margin-right: 30px;
}

.blog-cards-list-text-content {
    padding: 24px;
}
.articles-author {
    margin-bottom: 8px;
    color:var(--text-color);
    font-size: 10px;
    line-height: 18px;
}
.blog-cards-list-head {
    margin: 0;
    margin-bottom: 8px;
    color: var(--dark-text);
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
       transition: 0.3s;
}

.blog-cards-list-head:hover{
    color:var(--green-bg);
}
.blog-cards-list-info {
    margin: 0;
    color:var(--text-color);
    font-size: 13px;
    line-height: 18px;
}

/*         FOOTER   */
.footer {
    background-color:var(--dark-text);
}

.footer-content {
    padding: 48px;
    display: flex;
}
.footer-logo-socials {
    margin-right: auto;
}
.footer-logo {
    
}

.footer-logo-img {
    margin-bottom: 55px;
    width:115px;
    height: 20px;
    display: flex;
}
.socials-list {
    display: flex;
    display: flex;
    justify-content: space-between;
}
.social-list-item {

}

.footer-socials-link {
    width: 20px;
    height: 20px;
    color:#fff;
    transition: 0.3s;
}

.footer-socials-link:hover {
    color:var(--green-bg);
}

.footer-nav {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.footer-nav-item:first-child {
    margin-right: 60px;
  
}
.footer-nav-item-link {
    display: block;
    font-size: 15px;
    line-height: 26px;  
    color: #fff;
    transition: 0.3s;
}

.footer-nav-item-link:not(:first-child) {
    margin-top: 8px;
}
.footer-nav-item-link:hover {
    color:var(--green-bg);
}
.footer-button {
    margin-left: auto;
}
.footer-button button {
    display: block;
    margin-bottom: 24px;
}
.footer-button span{
    font-size: 15px;
    line-height: 26px;
    color:#fff;
    opacity: .5;
}